.container
  .content
    .row
      %h2 NeoSocial Example Application
      %p
        This is an example application connecting Neo4j with Facebook using the Neography gem.
      %p
        After you sign in, it will take a minute or three to import all your friends, likes, and mutual friends.
        Give it some time and then click on visualization.  It will pull up a random set of your friends and
        connect them together via mutual friendships.