.container
  .content
    .row
      %h2 Likes
      %table{:class => "table table-striped"}
        - @likes.each do |like|
          %tr
            %td
              %a{:href => "/like/#{like[0]}"}
                =like[1]
